body {
    background-color: lightcyan;
}

.titulo_principal {
    text-align: left;
    font-size: 30px;

}

p {
    text-indent: 30px;
  }

.grid-container div {
    background-color: paleturquoise;
    border-style: solid;
    margin: 10px 20px 10px 20px;
}